API_ID = "6188796"
API_HASH = "b8d09933e912b434765f180e80d2de2f"
BOT_TOKEN = "1846948125:AAElEM1w2zGkjllYpRkyFox_bBTaAJcARl4"
SUDO_USERS = "1364761438 1790602652"
DOWNLOAD_DIR = "" # Download directory where to download files. Must ends with forward slash > / <
